*{
    margin: 0px;
}
#header{
    height: 60px;
    background-color: white;
    font-family: candara;
    padding: 10px;
}
#logo{
    height: 60px;
    width: 60px;
    margin-left: 30px;
}
#heading{
    font-size: 30px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}
#nav{
    height: 30px;
    padding: 10px;
    background-color: black;
}
#nav ul{
    list-style: none;
}
#nav ul li{
    display: inline;
}
#nav ul li a{
    font-family: candara;
    font-size: 22px;
    text-decoration: none;
    margin-left: 30px;
    color: white;
}
#banner{
    margin: auto;
    height: 545px;
}
#banner_img{
    height: 545px;
    margin-left: 250px;
    width: 60%;
}
#loginbox{
    height: auto;
    width: 400px;
    margin: auto;
    padding: 20px;
    font-family: candara;
    font-size: 24px;
    margin-top: 60px;
}
#input{
    font-size: 16px;
    height: 30px;
    width: 300px;
    margin: 8px;
}
#inputbtn{
    font-size: 18px;
    font-family: candara;
    border-width: 0px;
    height: 40px;
    width: 310px;
    margin: 8px;
    background-color: black;
    color:white;
}
#demolink{
    font-size: 16px;
    color:darkslategray;
    text-decoration: none;
}
#demolink:hover{
    color:red;
}
#space{
    margin-top: 40px;
}
